
@font-face {
  font-family: 'MontserratLight';
  src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
       url('fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;

}

@font-face {
  font-family: 'MontserratMedium';
  src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
       url('fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@media (min-width: 60em) {

  .row-col li {
    float: left;
    width: 50%;
  }

  .row-col-2 li {
    float: left;
    width: 50%;
  }

  .row-col-3 li {
    float: left;
    width: 50%;
  }

  .row-col-4 li {
    float: left;
    width: 50%;
  }

  #purple-black-2 {
    width: 642.5px;
    height: auto;
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  #purple-black-1 {
    width: 635px;
    height: auto;
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  #orange-1 {
    width: 637.5px;
    height: auto;
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  #blue-2 {
    width: 644.5px;
    height: auto;
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  #black-2 {
    width: 644.5px;
    height: auto;
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  #black-4 {
    width: 642px;
    height: auto;
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  #cover {
    width: 640px;
    height: auto;
    padding bottom: 9em;
    margin-bottom: -9em;
  }

  #first-page {
    width: 640px;
    height: auto;
    padding bottom: 9em;
    margin-bottom: -9em;
  }
}

body {
  margin: auto;
}

nav ul {
	list-style: none;
	padding-left: 0;


}

nav.inline ul {
	text-align: center;
	margin: 0;
}

nav.inline li {
	display: inline;
	margin-right: 1.25em;
}

nav.inline a {
	display: inline-block;
	color: #fff;
	border: 0;
  font-family: Montserrat;
  font-size: 1em;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav.inline a:hover {
	color: #87a;
}

header {
  position: relative;
  margin-top: 0;
  background-color: #000;
}

#letterpress{
  background: #87a;
  margin: auto;
  overflow: hidden;
}

h1 {
  font-family: MontserratMedium;
  font-size: 1.5em;
  text-align: center;
  margin-top: auto;
  padding-top: 3em;
}


aside {
  float: right;
}

.title{
  clear: both;
  float: left;
  margin-left: 1em;
}


p {
  font-family: Montserrat;
  font-size: .9em;
  color: #fff;
  text-align: center;
  letter-spacing: .045em;
  word-spacing: .1em;
  line-height: .1em;
  padding-bottom: 5.5em;
}


.list ul {
  list-style: none;
  font-family: MontserratLight;
}

footer {
  clear: both;
  background-color: #000;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 900px;
  margin: 0 auto;
  padding-top: 5em;
}

.row-col {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  margin: auto;
}

.row-col-2 {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  margin: auto;
}

.row-col-3 {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  margin: auto;
}

.row-col-4 {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  margin: auto;
}


.thesis {
  margin-bottom: 6em;
}

#stories {
  background: #fc6;
  margin: auto;
}

.trafficking {
  margin-bottom: 5em;
}

.lock-up {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  margin: auto;
}
