/*styles*/

@font-face {
  font-family: 'Allan';
  src: url('fonts/allan-regular-webfont.woff2') format('woff2'),
       url('fonts/allan-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Veteran Typewriter';
	src: url ('fonts/veteran_typewriter-webfont.woff') format ('woff'),
	     url ('fonts/veteran_typewriter-webfont.woff2') format ('woff2');
	font-weight: normal;
	font-style: normal;
}

h1{
  font-family: Allan;
  font-weight: normal;
  font-size: 7em;
  text-align: center;
  margin-top: .5em;
}


nav ul {
	list-style: none;
	padding-left: 0;
}

nav.inline ul {
	text-align: center;
	background: #000;
	margin: 0;
}

nav.inline li {
	display: inline;
	margin-right: -.25em; /* tighten-up gaps (letter-spacing) */
}

nav.inline a {
	display: inline-block;;
	color: #fff;
	background: #000;
	padding: 1em;
	border: 0;
  font-family: Allan;
  font-size: 1.2em;
}

nav.inline a:hover {
	background: #666;
}

ul.assignment {
  font-family: Veteran Typewriter;
  list-style: circle;
  margin-left: 10em;
  margin-bottom: 5em;
  margin-right: 10em;
  font-size: 1.5em;
}

li.assignment{
  display: inline;
}

li a {
	display: inline-block;
	color: #fff;
	background: #000;
	padding: .2em;
	border: 0;
  font-family: Allan;
  font-size: 1em;
}
