#head {
	position: absolute;
	left: 6.5em;
	bottom: 7em;
	font-size: 50%;
	width: 4em;
	height: 4em;
	background: #f5b;
	border-radius: 50%;
}

#eye {
	position: absolute;
	left: 4em;
	bottom: 4.7em;
	width: .3em;
	height: .3em;
	background: #000;
	border-radius: 50%;
}

#beak {
		position: absolute;
		left: 13.3em;
		font-size: 35%;
		width: 0;
		height:0;
		line-height: 0;
		border: 1em dashed transparent;
		border-top: 0;
		border-bottom: 2em solid #000;
		transform : rotate(23deg);
}

#neck {
	position: absolute;
	left: 3.5em;
	font-size: 100%;
	width: .5em;
	height: 1.8em;
	background: #f5b;
}

#body {
	position: relative;
	left: 5.2em;
	bottom: 3.4em;
	font-size: 200%;
	width: 4em;
	height: 4em;
	background: #f5b;
	border-radius: 50%;
}

#feathers {
	position: absolute;
	top: .1em;
	left: .2em;
	font-size: 150%;
	width: 2em;
	height: 2em;
	background: #f8c;
	background: linear-gradient(105deg, rgb(255, 136, 204), rgb(229, 52, 153));
	border-radius: 50%;
}


#leg {
	position: absolute;
	top: 4em;
	left: 1.9em;
	font-size: 100%;
	width: .2em;
	height: 5em;
	background: #f8c;
}

#knee {
	position: absolute;
	top: 6em;
	left: 1.9em;
	font-size: 100%;
	width: .2em;
	height: .5em;
	background: #f5b;
}

#feet {
	position: absolute;
	top: 21.9em;
	left: 4em;
	font-size: 40%;
	width: 0;
	height:0;
	line-height: 0;
	border: 1em dashed transparent;
	border-top: 0;
	border-bottom: 2em solid #f8c;
}

/*
#head-2 {
	position: absolute;
	left: 3.2em;
	bottom: 3.5em;
	font-size: 100%;
	width: 2em;
	height: 2em;
	background: #f5b;
	border-radius: 50%;
}

#eye-2 {
	position: absolute;
	left: 4em;
	bottom: 4.7em;
	width: .3em;
	height: .3em;
	background: #000;
	border-radius: 50%;
}

#beak-2 {
		position: absolute;
		left: 4.5em;
		font-size: 100%;
		width: 0;
		height:0;
		line-height: 0;
		border: .4em dashed transparent;
		border-top: 0;
		border-bottom: .8em solid #000;
		transform : rotate(28deg);
}

#neck-2 {
	position: absolute;
	left: 3.5em;
	font-size: 100%;
	width: .5em;
	height: 1.8em;
	background: #f5b;
}

#body-2 {
	position: fixed;
	top: 21em;
	font-size: 100%;
	width: 4em;
	height: 4em;
	background: #f5b;
	border-radius: 50%;
	margin-left: 14.5em;
	float: right;
}

#feathers-2 {
	position: absolute;
	top: .1em;
	left: .2em;
	font-size: 150%;
	width: 2em;
	height: 2em;
	background: #f8c;
	background: linear-gradient(105deg, rgb(255, 136, 204), rgb(229, 52, 153));
	border-radius: 50%;
}

#leg-2 {
	position: absolute;
	top: 4em;
	left: 1.9em;
	font-size: 100%;
	width: .2em;
	height: 5em;
	background: #f8c;
}

#knee-2 {
	position: absolute;
	top: 6em;
	left: 1.9em;
	font-size: 100%;
	width: .2em;
	height: .5em;
	background: #f5b;
}

#water {
	position: absolute;
	top: 30em;
	font-size: 100%;
	width: 60em;
	height: .7em;
	background: #3cf;
}
*/

#head-3 {
	position: absolute;
	right: 6.3em;
	bottom: 7em;
	font-size: 50%;
	width: 4em;
	height: 4em;
	background: #f5b;
	border-radius: 50%;
}

#eye-3 {
	position: absolute;
	right: 4.2em;
	bottom: 4.7em;
	width: .3em;
	height: .3em;
	background: #000;
	border-radius: 50%;
}

#beak-3 {
		position: absolute;
		right: 13em;
		bottom: 9.6em;
		font-size: 35%;
		width: 0;
		height:0;
		line-height: 0;
		border: 1em dashed transparent;
		border-top: 0;
		border-bottom: 2em solid #000;
		transform : rotate(103deg);
}

#neck-3 {
	position: absolute;
	font-size: 100%;
	width: .5em;
	height: 1.8em;
	background: #f5b;
}

#body-3 {
	position: fixed;
	top: 5.9em;
	left: 12.5em;
	font-size: 200%;
	width: 4em;
	height: 4em;
	background: #f5b;
	border-radius: 50%;
	float: right;
}

#feathers-3 {
	position: absolute;
	top: .1em;
	left: .5em;
	font-size: 150%;
	width: 2em;
	height: 2em;
	background: #f8c;
	background: linear-gradient(40deg, rgb(255, 136, 204), rgb(229, 52, 153));
	border-radius: 50%;
}


#leg-3 {
	position: absolute;
	top: 4em;
	left: 2em;
	font-size: 100%;
	width: .2em;
	height: 5em;
	background: #f8c;
}

#knee-3 {
	position: absolute;
	top: 6em;
	left: 2em;
	font-size: 100%;
	width: .2em;
	height: .5em;
	background: #f5b;
}

#feet-3 {
	position: absolute;
	top: 21.9em;
	left: 4.2em;
	font-size: 40%;
	width: 0;
	height:0;
	line-height: 0;
	border: 1em dashed transparent;
	border-top: 0;
	border-bottom: 2em solid #f8c;
}

#heart-square {
	position: relative;
	left: 12.6em;
	top: 8.2em;
	font-size: 100%;
	width: 18em;
	height: 18em;
	background: #f02;
	/*background: linear-gradient(160deg, rgb(255, 91, 113), rgb(255, 0, 34));*/
	transform : rotate(45deg);
	animation: color-fade 4s infinite;
}

#heart-circle-1 {
	position: absolute;
	right: 8.6em;
	font-size: 100%;
	width: 18em;
	height: 18em;
	background: #f02;
	border-radius: 50%;
  /*background: linear-gradient(-145deg, rgb(249, 64, 88), rgb(255, 0, 34));*/
	animation: color-fade 4s infinite;
}

#heart-circle-2 {
	position: absolute;
	bottom: 8.5em;
	font-size: 100%;
	width: 18em;
	height: 18em;
	background: #f02;
	/*background: linear-gradient(20deg, rgb(249, 64, 88), rgb(255, 0, 34));*/
	border-radius: 50%;
	animation: color-fade 4s infinite;
}

@keyframes color-fade {

  0% {
		background: #FFA4B0;
  }

25% {
	background: #FF8595;
}

  50% {
		background: #FF4F67;
  }

	75% {
		background: #FF1635;
	}

  100% {
		background: #f02;
  }

}

