@font-face {
  font-family: 'Marcellus';
  src: url('font/marcellus/marcellus-regular-webfont.woff') format('woff2'),
       url('font/marcellus/marcellus-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'PT Sans';
  src: url('font/ptsans/pt_sans-web-regular-webfont.woff') format('woff2'),
       url('font/ptsans/pt_sans-web-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'PT Sans Bold';
  src: url('font/ptsans/pt_sans-web-bold-webfont.woff') format('woff2'),
       url('font/ptsans/pt_sans-web-bold-webfont.woff2') format('woff');
  font-weight: bold;
  font-style: normal;

}

@media (min-width: 15em) {

  main {
    width: 100%;
  }

  aside {
    margin-bottom: 4em;
  }

  aside p {
    font-size: 75%;
    margin-top: -1em;
    margin-left: .5em;
    text-align: center;
    width: 110%;
  }

  aside h3 {
    font-size: 190%;
    text-align: center;
    width: 110%;
}

  aside h4 {
    font-size: 140%;
    text-align: center;
    width: 110%;
  }

  img {
    max-width:110%;
    height: auto;
    display:block;
    margin-left: -4em;
    margin-bottom: -5em;
  }

  nav ul {
    margin-top: 1em;
    font-size: 55%;
  }


}

@media (min-width: 30em) {


  main {
    width: 100%;
  }


  aside {
    margin-bottom: 4em;
  }

  aside p {
    font-size: 85%;
    margin-top: -1em;
    margin-left: .5em;
    text-align: center;
    width: 105%;
  }

  aside h3 {
    font-size: 230%;
    text-align: center;
    width: 105%;
}

  aside h4 {
    font-size: 150%;
    text-align: center;
    width: 105%;
  }

  img {
    max-width:90%;
    height: auto;
    display:block;
    margin-left: -2em;
    margin-bottom: -5em;
  }

  nav ul {
    margin-top: 1em;
    font-size: 70%;
  }

}

@media (min-width: 45em) {

  main {
    width: 100%;
  }

  aside {
    margin-bottom: 4em;
    padding-right: 1em;
    max-width: 30%;
  }

  aside p {
    font-size: 80%;
    margin-top: -1em;
    margin-left: .5em;
    text-align: center;
    width: 115%;
  }

  aside h3 {
    font-size: 185%;
    text-align: center;
    width: 115%;
}

  aside h4 {
    font-size: 125%;
    text-align: center;
    width: 115%;
  }

  img {
    max-width:100%;
    height: auto;
    display:block;
    margin-left: -5.5em;
    margin-bottom: 3em;
  }

  nav ul {
    margin-top: 1em;
    font-size: 85%;
  }

}

@media (min-width: 60em) {

  main {
    width: 100%;
  }

  aside {
    margin-bottom: 4em;
    padding-right: 6em;
  }

  aside p {
    font-size: 100%;
    margin-top: -1em;
    margin-left: .5em;
    text-align: center;
    width: 105%;
  }

  aside h3 {
    font-size: 245%;
    text-align: center;
    width: 105%;
}

  aside h4 {
    font-size: 185%;
    text-align: center;
    width: 105%;
  }

  img {
    max-width:110%;
    height: auto;
    display:block;
    margin-left: -3em;
    margin-bottom: 2em;
  }

  nav ul {
    margin-top: 1em;
    font-size: 85%;
  }
}

body {
  background: radial-gradient(rgb(244, 202, 122), rgb(231, 151, 0));

}


header {
  background-color: #390;
  margin-top: -.9em;
}

h1 {
  font-family: Marcellus;
  text-align: center;
  font-size: 1.5em;
  line-height: .3em;
  letter-spacing: .045em;
  color: #fff;
  padding-top: 1.3em;
}

h2 {
  font-family: Marcellus;
  text-align: center;
  font-size: 1.5em;
  line-height: .02em;
  letter-spacing: .045em;
  color: #fff;
  padding-bottom: 1.3em;
  !border-bottom: solid 3px #390;
}

.r {
  font-size: 1.2em;
}

.g {
  font-size: 1.2em;
}

h3 {
  font-family: PT Sans;
  font-size: 3em;
  line-height: .01em;
  color: #fff;
  text-align: center;
  margin-right: 3em;
}

h4 {
  font-family: PT Sans;
  font-size: 1.5em;
  line-height: .02em;
  text-align: center;
  color: #390;
  margin-right: 6em;
}

p {
  font-family: PT Sans Bold;
  font-size: 1em;
  margin-right: 6em;
  color: #333;
}

section {
  float: left;
  margin-top: 2.5em;
  margin-left: 5em;
  margin-bottom: 3.5em;
}

aside {
  float: right;
  margin-top: 6em;
  margin-right: 2em;

}

.middle {
  vertical-align: .125em;
}

footer {
  clear: both;
  background: #390;
  width: 100%;
 position: absolute;
  left: 0;
  bottom: 0;
}

nav ul {
	list-style: none;
	padding-left: 0;
  !padding-bottom: .2em;
  font-family: Marcellus;
}

nav.inline ul {
	text-align: center;
	margin: 0;
}

nav.inline li {
	display: inline;
	margin-right: -.25em;
}

nav.inline a {
	display: inline-block;
	color: #fff;
	padding: 1em;
	border: 0;
  font-family: Marcellus;
  font-size: 1.2em;
  text-decoration: none;
}

nav.inline a:hover {
	color: #fff;
}

