body {
  margin: 0;
}

article {
  width: 90%;
  max-width: 75em;
  margin: auto;
}


/* breakpoint (for line length) / small */

@media (min-width: 15em) {

  article {
    width: 80%;
    font-size: 95%;
  }



}

@media (min-width: 30em) {

  article {
    width: 75%;
    font-size: 110%;
  }

  ul {
    padding-left: 2.8em;
  }

}

/* breakpoint (for line length) / medium */

@media (min-width: 45em) {

  article {
    width: 70%;
    font-size: 120%;
  }

}

/* breakpoint (for line length) / large / print */

@media (min-width: 60em) {

  article {
    width: 65%;
    font-size: 130%;
  }

  ul {
    margin-left: -.3em;
  }

}


@media (min-width: 75em) {

  article {
    width: 60%;
    font-size: 140%;
  }

  ul {
    margin-left: -.3em;
  }

}

h1 {
  font-family: Century;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  margin-top: 2.5em;
  text-align: center;
}

h2 {
  font-family: Univers LT Std;
  font-size: 1.2em;
  font-weight: bold;
  color: #175DA2;
  padding-top: 2em;
  padding-bottom: .025em;
}

h3 {
  font-family: Univers LT Std;
  font-size: .90em;
  font-weight: normal;
  line-height: .1em;
  padding-bottom: 3em;
  text-align: center;
}

h4 {
  font-family: Univers LT Std;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  line-height: .2em;
}

h5 {
  font-family: Univers LT Std;
  font-size: 3.2em;
  font-weight: bold;
  text-align: center;
  line-height: .2em;
}

h6 {
  font-family: Univers LT Std;
  font-size: 3.3em;
  font-weight: bold;
  text-align: center;
  line-height: .2em;
  padding-bottom: -3em;
}

.h7 {
  font-family: Century;
  font-size: 3.3em;
  font-weight: bold;
  text-align: center;
  line-height: .2em;
}

.h8 {
  font-family: Century;
  font-size: 3.3em;
  font-weight: bold;
  text-align: center;
  line-height: .2em;
}

p {
  font-family: Century;
  font-size: 1.1em;
  line-height: 1.28em;
}

a {
  color: #175DA2;
  text-decoration: none;
}

ul {
  margin-left: -2.8em;
}

li {
  font-family: Univers LT Std;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.2em;
}

img {
max-width:100%;
height: auto;
display:block;
margin: 0 auto;
}
