body {
	width: 90%;
	max-width: 60em;
	margin: 0 auto;
	}

nav,
ol,
li {
	/*border: 1px solid #000;*/
	}

nav ol {
	padding-left: 0;
	}

nav li {
	display: inline;
	margin-right: 1em; /* 1em = 16px */
	}

p {
	line-height: 1.4;
	}

a {
		color: black;
		text-decoration: none;
   }

del {
		display; none;
   }

header {
		text-align: center;
		}

p {
		line-height: 1.2;
		margin:0;
		}

#notes p {
		text-indent: 0;
		}


